@import "./utils/variables.scss";
@import "./utils/mixins.scss";
@import "./components/button.scss";
@import "./base/root.scss";
@import "./pages/loginRegister.scss";
@import "./pages/home.scss";
@import "./components/post.scss";
@import "./components/menu.scss";
@import "./pages/settings.scss";
@import "./components/header.scss";