@mixin formLoginRegister {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin inputLoginRegister {
  width: 50%;
  height: 40px;
  border: 1px solid $color-tertiary;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0 10px;
  font-size: 16px;
  color: $color-primary;
  &:focus {
    outline: none;
    border-color: $color-primary;
    &::placeholder {
      color: $color-primary;
    }
  }
}

@mixin labelLoginRegister {
  color: $color-primary;
  font-size: 20px;
  margin-bottom: 10px;
  display: none;
}

@mixin postIcon {
  margin-top: 6px;
  width: 33%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    border-radius: 10px;
    background-color: #f5f5f5;
  }
  svg {
    width: 18%;
    height: 18%;
    object-fit: cover;
  }
  &__font {
    margin: 0 6px 2px 0;
    font-size: 22px;
  }    
}

