html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
  background-color: #FFD7D7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
}

.login-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px;
  width: 50%;
  height: 75%;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.login-register__block {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-register__block__content {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-register__block__content h2 {
  color: #FD2D01;
  font-size: 28px;
  border: 2px solid #FD2D01;
  border-left: none;
  border-top: none;
  border-right: none;
  padding: 20px;
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .login-register__block__content h2 {
    font-size: 18px;
  }
}
.login-register__block__content__form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-register__block__content__form label {
  color: #FD2D01;
  font-size: 20px;
  margin-bottom: 10px;
  display: none;
}
.login-register__block__content__form input {
  width: 50%;
  height: 40px;
  border: 1px solid #4E5166;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0 10px;
  font-size: 16px;
  color: #FD2D01;
}
.login-register__block__content__form input:focus {
  outline: none;
  border-color: #FD2D01;
}
.login-register__block__content__form input:focus::placeholder {
  color: #FD2D01;
}
.login-register__block__content__form button {
  width: 53%;
  height: 40px;
  border: 1px solid;
  border-radius: 5px;
  color: white;
  padding: 0 10px;
  font-size: 24px;
  font-weight: bold;
  background: #FD2D01;
  transition: all 0.3s ease-in-out;
}
.login-register__block__content__form button:focus {
  outline: none;
}
.login-register__block__content__form button:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .login-register__block__content__form button {
    width: 74%;
    height: 40px;
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .login-register__block__content__form button {
    width: 54%;
    height: 40px;
    font-size: 22px;
  }
}
.login-register__block__title {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-register__block__title img {
  object-fit: cover;
  width: 50%;
  height: 50%;
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .login-register__block__title img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.connection-link__Link {
  text-decoration: none;
  color: #FD2D01;
}
.connection-link__Link :visited {
  color: #FD2D01;
}
.connection-link__Link :hover {
  color: #FFD7D7;
}

.home-page {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.home-page__scrolling-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  top: 0px;
  color: #FD2D01;
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .home-page__scrolling-menu {
    font-size: 18px;
  }
}
.home-page__scrolling-menu ul {
  list-style-type: none;
  font-size: 28px;
}
.home-page__content {
  width: 100%;
  height: 80%;
}
.home-page__menu {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 98%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  bottom: 20px;
  margin: 0 6px 6px 6px;
}
.home-page__menu__icon {
  width: 33%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-page__menu__icon:hover {
  border-radius: 10px;
  background-color: #f5f5f5;
}
.home-page__menu__icon__font {
  font-size: 28px;
  color: #FD2D01;
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  .home-page__menu__icon__font {
    font-size: 24px;
  }
}

/*# sourceMappingURL=style.css.map */
