@mixin button {
  width: 53%;
  height: 40px;
  border: 1px solid;
  border-radius: 5px;
  color: white;
  padding: 0 10px;
  font-size: 24px;
  font-weight: bold;
  background: $color-primary;
  transition: all 0.3s ease-in-out;
  &:focus {
    outline: none;
  }
  &:hover {
    transform: scale(1.1);
  }

  @media screen and (min-width: 425px) and (max-width: 768px) {
    width: 74%;
    height: 40px;
    font-size: 18px;
  }

  @media screen and (min-width: 768px) and (max-width: 1440px) {
    width: 54%;
    height: 40px;
    font-size: 22px;
  }

}