.home-page__content__post {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  width: auto;
  height: auto;
  max-height: 100%;
  min-height: 15%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;

  /*@media screen and (min-width: 426px) and (max-width: 768px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }*/
  
  &__top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: auto;
    max-height: 90%;
    min-height: 10%;
    &__profil {
      width: 20%;
      height: 50%;
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      padding-right: 10px;
      p {
        height: 20%;
        margin-top: 0;
        text-align: center;
      }
      &__picture {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80%;
      }
      img {
        width: 80%;
        height: 80%;
        object-fit: cover;
        clip-path: circle();
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80%;
      height: 100%;
      &__text {
        width: 100%;
        height: auto;
        max-height: 100%;
        overflow-wrap: break-word;
        p {
          margin: 0 0 0 10px;

          @media screen and (min-width: 426px) and (max-width: 768px) {
            font-size: 20px;
          }

          @media screen and (min-width: 769px) and (max-width: 1440px) {
            font-size: 24px;
          }

        }

      }
      &__img {
        display: block;
        width: 100%;
        height: auto;
        max-height: 100%;
        overflow: hidden;
        border-radius: 10px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
  &__bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    &__icon {
      @include postIcon;
    }
    }
}