.menu {
  background-color: white;
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  position: fixed;
  &__icon  {
    width: 33%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__font {
      font-size: 28px;
      color: $color-primary;
      @media screen and (min-width: 425px) and (max-width: 768px) {
        font-size: 24px;
      }
    }
    p {
      display: none;
      @media screen and (min-width: 1024px) {
        margin: 6px 0 0 8px;
        display: block;
        font-size: 20px;
        color: $color-primary;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    left: 0;
    height: 100%;
    width: 10%;
    flex-direction: column;
    position: fixed;
  }
  @media screen and (min-width: 1024px) {
    left: 0;
    height: 100%;
    width: 15%;
    flex-direction: column;
    position: fixed;
  }
}