.profile-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 40px;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    margin-top: 40px;

    @media screen and (min-width: 1025px) and (max-width: 1440px) {
      margin-left: 40px;
    }

    &__top {
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

      img {
        width: 40%;
        height: 40%;
        object-fit: cover;
        clip-path: circle();
        margin-bottom: 10px;
      }

      &__username-input {
        margin-top: 20px;
        border-radius: 5px;
        border: 1px solid $color-tertiary;
        padding: 0 10px;
        font-size: 16px;
        color: $color-primary;
        padding-top: 6px;
        margin-bottom: 20px;
        font-family: 'Lato', sans-serif;
        &:focus {
          outline: none;
          border-color: $color-primary;
        &::placeholder {
          color: $color-primary;
          vertical-align: text-top;
        }
        }
      }

      &__button {
        margin-top: 20px;
        @include button
      }

    }


    &__bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: auto;

      @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 85%;
        align-items: flex-end;
        justify-content: flex-end;
        margin-left: 70px;
      }

      @media screen and (min-width: 1024px) and (max-width: 1440px) {
        width: 80%;
        align-items: flex-end;
        justify-content: flex-end;
        margin-left: 140px;
      }

      @media screen and (min-width: 1440px) {
        margin-top: 20px;
      }


      &__element {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        background-color: white;
        width: 80%;
        height: 50px;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        padding: 10px 10px 10px 20px;
        margin-top: 10px;

        @media screen and (min-width: 768px) {
          width: 95%;
        }

        &__icon {
          color: $color-primary;
          font-size: 28px;
          margin-right: 10px;
        }
        p {
          font-size: 18px;
          color: $color-tertiary;
        }
      }
    }
  }
}